// LIGHT THEME COLORS
// $main-bg-color-light: #f0f2f5;
$main-bg-color-light: #ffffff;
$header-bg-color-light: #ffffff;
$menu-bg-color-light: #f8f8f8;
$border-color-light: #ced0d4;
$primary-text-color-light: #181818;
$secondary-text-color-light: #d3d3d3;

// DARK THEME COLORS
$main-bg-color-dark: #18191a;
$header-bg-color-dark: #18191a;
$menu-bg-color-dark: #242526;
// $header-bg-color-dark: #242526;
$border-color-dark: #393a3b;
$primary-text-color-dark: #e4e6eb;
$secondary-text-color-dark: #444444;
